* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
        url("https://images.unsplash.com/photo-1514565131-fce0801e5785");
    background-size: cover;
    background-position: center;

    color: white;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ЭКРАНЫ */
.screen {
    text-align: center;
    width: 100%;
    max-width: 420px;
    transition: 0.4s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
}

.active {
    opacity: 1;
    transform: scale(1);
}

/* ТИТУЛ */
h1 {
    font-size: 60px;
    margin-bottom: 30px;
    text-shadow: 0 0 20px #4da6ff;
}

/* КНОПКИ */
button {
    display: block;
    width: 100%;
    margin: 12px 0;
    padding: 14px;

    font-size: 18px;

    border: 2px solid #4da6ff;
    border-radius: 12px;

    background: rgba(0,0,0,0.4);
    color: white;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #4da6ff;
}

/* ИНПУТЫ */
input, select {
    width: 100%;
    margin: 8px 0;
    padding: 10px;

    border-radius: 10px;
    border: 1px solid #4da6ff;

    background: rgba(0,0,0,0.5);
    color: white;
}

/* СЛОТЫ СОХРАНЕНИЙ */
.save-slot {
    padding: 15px;
    margin: 10px 0;

    border: 1px dashed #4da6ff;
    border-radius: 10px;

    opacity: 0.7;
}

#version {
    margin-top: 20px;
    opacity: 0.5;
}
